@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<div id="note-container">
    <h5 class="mb-2">@Localizer["Notes"]</h5>
    <form asp-action="SaveNote" method="post">
        <textarea id="note-text" name="noteText" placeholder="@Localizer["Note"]">@ViewData["UserNote"]</textarea>

        <div class="mt-3 d-flex justify-content-between">
            <button id="save-note" type="submit" class="btn btn-gradient  fs-5 py-2">@Localizer["Save"]</button>

        </div>
    </form>
</div>