@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model TodoProject.Entities.TodoItem
@{
    ViewData["Title"] = @Localizer["PageTitle"];
}

<div class="container mt-5">
    <h2 class="mb-4 text-warning">@Localizer["PageTitle"]</h2>

    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />

       @await Html.PartialAsync("_TodoFormPartial")
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>
        const categorySelect = document.getElementById("categorySelect");
        const customCategoryInput = document.getElementById("customCategoryInput");

        categorySelect.addEventListener("change", function () {
            if (categorySelect.value === "Other") {
                customCategoryInput.style.display = "block";
            } else {
                customCategoryInput.style.display = "none";
                customCategoryInput.value = ""; // Temizle
            }
        });
    </script>
}
